# Enable backtrace for debugging Rust errors
RUST_BACKTRACE=0

# Redis settings
REDIS_HOST=127.0.0.1 # or 'redis' if dockerized (and connected in same vnet)
REDIS_PORT=6379
REDIS_DB=0 # Default database index

# RabbitMQ settings
# NOTE: must match the credentials in RabbitMQ server configured in the .env file at the root of the project
RABBIT_USER=rabbit
RABBIT_PASSWORD=rabbit
RABBIT_HOST=127.0.0.1 # or 'rabbit' if dockerized (and connected in same vnet)
RABBIT_PORT=5672
RABBIT_QUEUE=0 # ID of the queue to use

# Additional crawler settings
CRAWLER_TYPE=generic    # unique label useful to differentiate parallel crawler instances
MAX_DEPTH=5             # number of link hops to follow from seed URLs
RESPECT_ROBOTS_TXT=true # respect robots.txt rules (yes/no)

# Number of threads to use
N_AGENTS=4
